publicVapidKey = ""
privateVapidKey = ""
dbHost=""
dbHostNonP=""
dbUser=""
dbPass=""
dbMain=""

dbUserB=""
dbPassB= ""
dbBackup=""

dbForum=""
dbForumUser=""
dbPassF=''

emailSender=""
emailReceiver=""