{% if LASTAT_TYPE %}
<div class="forabg last-topics-top-block">
	<div class="inner">
		<table class="table1" cellspacing="0">
			<tr class="bg1">
				<td style="text-align: center;"><i class="fa fa-bullhorn fa-2x" aria-hidden="true"></i>
            <h3>{{ LASTAT_TOTAL }} {{ lang('LAST_TITLETEXT') }}</h3>

            <ul id="vertical-ticker-lastactive">
            {% for last_topic in loops.last_topic %}
                <li>

                    {{ lang('POST_BY_AUTHOR') }}
                    <a style="font-weight:bold; color:#{{ last_topic.TOPIC_LAST_POSTER_COLOUR }};"
                       href="{{ last_topic.USERNAME_LAST }}">

                        {% if last_topic.TOPIC_LAST_POSTER_AV %}
                            {{ last_topic.TOPIC_LAST_POSTER_AV }}
                        {% else %}
                            <img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/no_avatar.png" height="50" width="50" title="{last_topic.TOPIC_LAST_POSTER_NAME}" alt="" />
                        {% endif %}

                        {{ last_topic.TOPIC_LAST_POSTER_NAME }}
                    </a>

                    <i class="fa fa-clock-o"></i> {{ last_topic.TOPIC_LAST_POST_TIME }}

                    <a href="{{ last_topic.LAST_LINK }}" title="{{ last_topic.TOPIC_TITLE }}">
                        <span style="color:#BF0000">{{ last_topic.TOPIC_TITLE }}</span>
                    </a>

                    {{ lang('IN') }}
                    <a href="{{ last_topic.WIEWFORUM_URL }}">
                        <span style="color:#BF0000">{{ last_topic.FORUM_NAME }}</span>
                    </a>

                    <a href="{{ last_topic.U_LAST_TOPIC }}" title="{{ lang('VIEW_LATEST_POST') }}">
                        <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md"></i>
                    </a>

                    {{ lang('REPLIES') }} {{ last_topic.TOPIC_REPLIES }}
                    {{ lang('VIEWS') }} {{ last_topic.TOPIC_VIEWS }}

                </li>
            {% endfor %}
            </ul>

        </td>
			</tr>
		</table>
	</div>
</div>

{% else %}

<div class="forumlist" id="last-topics">
    <div class="forabg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt>
                            <div class="list-inner">{{ LASTAT_TOTAL }} {{ lang('LAST_TITLETEXT') }}</div>
                        </dt>
                        <dd class="topics">{{ lang('REPLIES') }}</dd>
                        <dd class="posts">{{ lang('VIEWS') }}</dd>
                        <dd class="lastpost">
                            <span>{{ lang('LAST_POST') }}</span>
                            {% if LASTAT_NAVIGATION %}
                            <span class="ltticker responsive-hide">
                                <a href="#" role="button" aria-controls="vertical-ticker-lastactive" id="ticker-lastactive-previous"><i class="fa fa-arrow-circle-o-left lttopic"></i></a>
                                <a href="#" role="button" aria-controls="vertical-ticker-lastactive" id="ticker-lastactive-next"><i class="fa fa-arrow-circle-o-right lttopic"></i></a>
                                <a href="#" role="button" aria-controls="vertical-ticker-lastactive" id="ticker-lastactive-stop"><i class="fa fa-stop-circle-o lttopic"></i></a>
                                <a href="#" role="button" aria-controls="vertical-ticker-lastactive" id="ticker-lastactive-start"><i class="fa fa-play-circle-o lttopic"></i></a>
                            </span>
                            {% endif %}
                        </dd>
                    </dl>    
                </li>
            </ul>
            
            <ul class="topiclist forums" id="vertical-ticker-lastactive">
            {% for last_topic in loops.last_topic %}
            <li class="row">
                <dl class="row-item">
                    <dt title="{{ last_topic.TOPIC_TITLE }}">
                        <div class="list-inner">
                            
                            <div class="last-topics-avatar">
                                {% if last_topic.TOPIC_LAST_POSTER_AV %}
                                    {{ last_topic.TOPIC_LAST_POSTER_AV }}
                                {% else %}
                                    <img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/no_avatar.png" height="50" width="50" title="{last_topic.TOPIC_LAST_POSTER_NAME}" alt="" />
                                {% endif %}
                            </div>

                            <div class="last-topics-content">
                                <a href="{{ last_topic.LAST_LINK }}" class="forumtitle last-topics-title">{{ last_topic.TOPIC_TITLE }}</a>
                                
                                <span class="last-topics-meta">
                                    {{ lang('POST_BY_AUTHOR') }} 
                                    <i class="fa fa-user"></i> <a href="{{ last_topic.USERNAME_LAST }}" style="font-weight:bold; color:#{{ last_topic.TOPIC_LAST_POSTER_COLOUR }};">{{ last_topic.TOPIC_LAST_POSTER_NAME }}</a>
                                    
                                    &nbsp;{{ lang('IN') }} 
                                    <i class="icon fa-rocket fa-fw" aria-hidden="true"></i>
                                    <a href="{{ last_topic.WIEWFORUM_URL }}">{{ last_topic.FORUM_NAME }}</a>
                                    
                                    &nbsp;<i class="fa fa-clock-o"></i>
                                    {{ last_topic.TOPIC_LAST_POST_TIME }}
                                </span>
                            </div>

                        </div>
                    </dt>
                    
                    <dd class="topics">{{ last_topic.TOPIC_REPLIES }}</dd>
                    <dd class="posts">{{ last_topic.TOPIC_VIEWS }}</dd>
                    
                    <dd class="lastpost">
                        <span>
                            {{ lang('POST_BY_AUTHOR') }} 
                            <i class="fa fa-user"></i> <a href="{{ last_topic.USERNAME_LAST }}" style="font-weight:bold; color:#{{ last_topic.TOPIC_LAST_POSTER_COLOUR }};">{{ last_topic.TOPIC_LAST_POSTER_NAME }}</a>
                            <a href="{{ last_topic.U_LAST_TOPIC }}" title="{{ lang('VIEW_LATEST_POST') }}">
                                <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i>
                            </a><br>
                            <i class="fa fa-clock-o"></i> {{ last_topic.TOPIC_LAST_POST_TIME }}
                        </span>
                    </dd>
                </dl>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endif %}