{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_LAST_TOPIC') }} {{ LASTAT_VERSION }}</h1>
<p>{{ lang('ACP_LAST_TOPIC_EXPLAIN') }}</p>

<p>{{ lang('ACP_LAST_TOPIC_DONATE_EXPLAIN') }} {{ lang('ACP_LAST_TOPIC_DONATE') }}</p>

<form id="acp_board" method="post" action="{{ U_ACTION }}">
    <fieldset>
        <legend>{{ lang('ACP_LAST_TOPIC_SETTINGS') }}</legend>

        <dl>
            <dt><label>{{ lang('ALLOW_LAST_TOPIC') }}{{ lang('COLON') }}</label><br />{{ lang('ALLOW_LAST_TOPIC_EXPLAIN') }}</dt>
            <dd>
                <label>
                    <input type="radio" class="radio" name="lastat_enable" value="1" {% if LASTAT_ENABLE %} id="lastat_enable" checked="checked" {% endif %} />
                    <strong class="success">{{ lang('ENABLE') }}</strong>
                </label>
                <label>
                    <input type="radio" class="radio" name="lastat_enable" value="0" {% if not LASTAT_ENABLE %} id="lastat_enable" checked="checked" {% endif %} />
                    <strong class="error">{{ lang('DISABLE') }}</strong>
                </label>
            </dd>
        </dl>

        <dl>
            <dt><label>{{ lang('ALLOW_LAST_INDEX') }}{{ lang('COLON') }}</label><br />{{ lang('ALLOW_LAST_INDEX_EXPLAIN') }}<br />
                <span class="error">{{ lang('LAST_TOPIC_ALLERT') }}</span>
            </dt>
            <dd>
                <label>
                    <input type="radio" class="radio" name="lastat_index" value="1" {% if LASTAT_INDEX %} id="lastat_index" checked="checked" {% endif %} />
                    <strong class="success">{{ lang('YES') }}</strong>
                </label>
                <label>
                    <input type="radio" class="radio" name="lastat_index" value="0" {% if not LASTAT_INDEX %} id="lastat_index" checked="checked" {% endif %} />
                    <strong class="error">{{ lang('NO') }}</strong>
                </label>
            </dd>
        </dl>

        <dl>
            <dt><label>{{ lang('ALLOW_LAST_TUTTO') }}{{ lang('COLON') }}</label><br />{{ lang('ALLOW_LAST_TUTTO_EXPLAIN') }}<br />
                <span class="error">{{ lang('LAST_TOPIC_ALLERTS') }}</span>
            </dt>
            <dd>
                <label>
                    <input type="radio" class="radio" name="lastat_tutto" value="1" {% if LASTAT_TUTTO %} id="lastat_tutto" checked="checked" {% endif %} />
                    <strong class="success">{{ lang('YES') }}</strong>
                </label>
                <label>
                    <input type="radio" class="radio" name="lastat_tutto" value="0" {% if not LASTAT_TUTTO %} id="lastat_tutto" checked="checked" {% endif %} />
                    <strong class="error">{{ lang('NO') }}</strong>
                </label>
            </dd>
        </dl>

        <dl>
            <dt><label>{{ lang('LAST_NAVIGATION') }}{{ lang('COLON') }}</label><br />{{ lang('LAST_NAVIGATION_EXPLAIN') }}</dt>
            <dd>
                <label>
                    <input type="radio" class="radio" name="lastat_navigation" value="1" {% if LASTAT_NAVIGATION %} id="lastat_navigation" checked="checked" {% endif %} />
                    <strong class="success">{{ lang('YES') }}</strong>
                </label>
                <label>
                    <input type="radio" class="radio" name="lastat_navigation" value="0" {% if not LASTAT_NAVIGATION %} id="lastat_navigation" checked="checked" {% endif %} />
                    <strong class="error">{{ lang('NO') }}</strong>
                </label>
            </dd>
        </dl>

        <dl>
            <dt><label>{{ lang('LAST_DIRECTION') }}{{ lang('COLON') }}</label><br />{{ lang('LAST_DIRECTION_EXPLAIN') }}</dt>
            <dd>
                <label>
                    <input type="radio" class="radio" name="lastat_direction" value="1" {% if LASTAT_DIRECTION %} id="lastat_direction" checked="checked" {% endif %} />
                    <strong class="success">{{ lang('LAST_UP_DIRECTION') }}</strong>
                </label>
                <label>
                    <input type="radio" class="radio" name="lastat_direction" value="0" {% if not LASTAT_DIRECTION %} id="lastat_direction" checked="checked" {% endif %} />
                    <strong class="error">{{ lang('LAST_DOWN_DIRECTION') }}</strong>
                </label>
            </dd>
        </dl>

    </fieldset>

    <fieldset>
        <legend>{{ lang('ACP_LAST_TOPIC_CONFS') }}</legend>

        <dl>
            <dt><label for="lastat_t_pos">{{ lang('LAST_POS') }}{{ lang('COLON') }}</label><br />
                <span>{{ lang('LAST_POS_EXPLAIN') }}</span>
            </dt>
            <dd>
                <select name="lastat_t_pos" id="lastat_t_pos" class="post">
                    <option value="1" {% if LASTAT_TOP == "1" %} selected {% endif %}>{{ lang('LAST_AT_TOP') }}</option>
                    <option value="0" {% if LASTAT_FUT == "0" %} selected {% endif %}>{{ lang('LAST_AT_FUT') }}</option>
                </select>
            </dd>
        </dl>

        <dl>
            <dt><label for="lastat_type">{{ lang('LAST_TYPE') }}{{ lang('COLON') }}</label><br />
                <span>{{ lang('LAST_TYPE_EXPLAIN') }}</span>
            </dt>
            <dd>
                <select name="lastat_type" id="lastat_type" class="post">
                    <option value="1" {% if LASTAT_TYPE == "1" %} selected {% endif %}>{{ lang('LAST_ASPECT_A') }}</option>
                    <option value="0" {% if LASTAT_TYPE == "0" %} selected {% endif %}>{{ lang('LAST_ASPECT_B') }}</option>
                </select>
            </dd>
        </dl>

        <dl>
            <dt><label for="last_total">{{ lang('LAST_TOPIC_TOTAL') }}{{ lang('COLON') }}</label><br />
                <span>{{ lang('LAST_TOPIC_TOTAL_EXPLAIN') }}</span>
            </dt>
            <dd><input id="last_total" type="text" size="10" maxlength="3" name="last_total" value="{{ LASTAT_TOTAL }}"></dd>
        </dl>

    </fieldset>

    <fieldset>
        <legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
        <p class="submit-buttons">
            <input type="hidden" name="action" value="save" />
            <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
            <input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
            {{ S_FORM_TOKEN }}
        </p>
    </fieldset>

</form>

{% INCLUDE 'overall_footer.html' %}