{% if LASTAT_ENABLE %}
{% INCLUDEJS '@galandas_lasttopics/jquery.totemticker.js' %}
<script>
(function($){
    'use strict';
    $(document).ready(function () {
        var $ticker = $('#vertical-ticker-lastactive'); // ID unico
        if (!$ticker.length) return;

        $ticker.totemticker({
            row_height  : '50px',
            max_items   : 1,  // mostra 1 elemento alla volta
            next        : '#ticker-lastactive-next',
            previous    : '#ticker-lastactive-previous',
            stop        : '#ticker-lastactive-stop',
            start       : '#ticker-lastactive-start',
            mousestop   : true,
            direction   : '{% if LASTAT_DIRECTION %}down{% else %}up{% endif %}'
        });
    });
})(jQuery);
</script>
{% endif %}
